@import "Reset.css";
/*Liste verticale*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 5rem;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 2.5rem 8rem;
    text-decoration: none;
    background-color:darkgray;
    font-size: 1.4rem;
}

li a:hover {
    background-color: #555;
    color: white;
}

aside > ul {
    position: absolute;
    top: 85px;
    bottom: 76px;
    left: 0px;
    width: 10rem;
    height: 80rem;
    background-color: #f1f1f1;
}

/*Liste Horizontale*/
.Menu {
    list-style-type: none;
    padding: 0.4rem;
    overflow: hidden;
    background-color: #2f73aa;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

ol a {
    display: block;
    color: white;
    text-align: center;
    padding: 2.5rem 5rem;
    text-decoration: none;
    font-size: 1.4rem;
}

ol a:hover {
    background-color: #555;
    color:white;
}

/* Titre principal*/
h1 {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    margin-top: 4rem;

}
/*Sous-titre*/
h3 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-top: 0.3rem;
    margin-top: 2rem;
}
/*div paragraphe*/
.Paragraphe{
    display: flex;
    justify-content: center;
    border: solid 2px black;
    max-width:75rem ;
    margin-left: 57rem;
    margin-top: 15rem;
    padding : 3rem;
    
}
/*section*/
section{
    font-size: 2rem;
    text-align: justify;
}
body{
    background-color: cornsilk
}
footer {display: inline-block;
        margin-top: 73rem;
        width: 190rem;
        height: 10rem;
        background-color: black;}

.ACS {display: block;
    position: absolute;
    left: 79rem;
    top: 85.5rem;
    width: 30rem;}