@import "Reset.css";
/*Liste verticale*/
/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10rem;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 3rem 8rem;
    text-decoration: none;
    background-color:darkgray;
    font-size: 1.4rem;
}

li a:hover {
    background-color: #555;
    color: white;
}

aside > ul {
    position: absolute;
    top: 72px;
    left: 0px;
    width: 10rem;
    height: 85rem;
    background-color: #f1f1f1;
}*/

ul {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

ul {
    position: relative;
    display: inline-block;
}

li {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

li a:hover {background-color: #f1f1f1}

ul:hover li {
    display: block;
}

ul:hover .dropbtn {
    background-color: #3e8e41;
}
/*Liste Horizontale*/
.Menu {
    list-style-type: none;
    padding: 0.4rem;
    overflow: hidden;
    background-color: #2f73aa;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

ol a {
    display: block;
    color: white;
    text-align: center;
    padding: 2.5rem 5rem;
    text-decoration: none;
    font-size: 1.4rem;
}

ol a:hover {
    background-color: #555;
    color:white;
}
/* Titre principal*/
h1 {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    margin-top: 4rem;

}
/*Sous-titre*/
h3 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-top: 0.3rem;
    margin-top: 2rem;
}
/*div paragraphe*/
.Paragraphe{
    display: flex;
    justify-content: center;
    border: solid 2px black;
    max-width:75rem ;
    margin-left: 57rem;
    margin-top: 15rem;
    padding : 3rem;
    
}
/*section*/
section{
    font-size: 2rem;
    text-align: justify;
}
body{
    background-color: cornsilk
}